.feedbackEl {
  background-color: rgb(45, 68, 93);
  width: 100%;
  height: 800px;
  color: white;
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedbackTitle {
  padding-top: 50px;
  margin-block-end: 0;
  margin-block-start: 0;
}
.feedbackResult {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}
